web/*
vendor

src/sites/all/themes/custom/creed/.sass-cache/d714c77b834f016fe078743f23bb94d1ec4c332d/
src/sites/all/themes/custom/creed/template.css.map

!web/sites
web/sites/*
!web/sites/default
web/sites/default/*
!web/sites/default/settings.php
web/sites/default/files/*
!web/sites/default/files/.gitkeep

!web/sites/all
web/sites/all/*
!web/sites/all/modules
web/sites/all/modules/*
!web/sites/all/modules/custom
!web/sites/all/themes
web/sites/all/themes/*
!web/sites/all/themes/custom

build.properties
.map
.scssc
.DS_Store
