body{
	margin: 0;
}

$time-color:#3985c7;
$time-font-size: 16px;
$page_width: 965px;

@mixin size{
	width: $page_width;
	margin: auto;
	
}

@mixin border($height, $color, $type, $where)
{
	@if $where == 'auto' {
		border:$height $color $type;
	}
	@else if $where == bottom {
		border-bottom: $height $color $type;
	}
	@else if $where == top {
		border-top: $height $color $type;
	}
	@else if $where == left{
		border-left:$height $color $type;
	}
}

.root{
	min-height: 100%;
}

.header{
 	width: 100%;
 	background: #3f86c5;
 	float: right;
 	margin-bottom: 16px;

 	h2{
 		display: none;
 	}

 	.content{
 		float: right;
 		margin-right: 112px;
		ul{
	 		margin:0;
	 		display: inline-block;	
	 		li {
	 		list-style: none;
	 		display: inline-block;

		 		a{
		 			text-decoration: none;
		 			color: white;

		 			&:hover{
		 				color:darkgray;
		 			}
		 		}
		 	}
	 	}
 	}
}

.wrapper{
	@include size;
	clear: both;
}
.nav_bar{
 	
 	@include border(2px, gray, dotted, bottom);
 	border-width: 2px;
 	width: 100%;

 	ul li {
 		list-style: none;
 		display: inline-block;

 		a{
 			text-decoration: none;
 			font-size: $time-font-size;
 			color: gray;

 			&:hover{
 				color:darkgray;
 			}
 		}

 		ul li{
 			display: block;
 		}


 	}

 	.navigation .expanded ul {
 		display: none;

 	}

 	.navigation .expanded {

 		padding: 2px;           
 		&:hover{

 				background-color:$time-color;
 			ul {
 				display: block;
 				position: absolute;
 				margin-left: -2px;
    			background-color: $time-color;
    			width: 160px;
    			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    			padding: 12px 16px;
    			z-index: 1;
 			}

 			a{
    			color: white;
    		}
 		}
 	}


 		
}

.brands {

	.region{
		.views-row{
			display: inline-block;
			width: 10%;
			padding: 4px;
			margin: 2px;
			float: left;

			a{
				text-decoration: none;
				color: $time-color;
			}

			img{
				width: 100px;
				height: 100px;
			}

		}
		.node{

			a {
				text-decoration: none;
				color: black;

				.links-line li a {
					text-decoration: underline;
					color: blue;
				}
			}
		}

		.block {
			clear: both;
			border-top: 2px gray dotted;
		}

		h2{
			color: $time-color;
			@include border(2px, $time-color, solid, bottom);
		}

		table img{
			width: 100px;
			height: 100px;
			margin: 2px;
		}

	}

	#block-views-recent-block{
		width: 100%;
		padding: 20px;

		table {
			width: 100%;
			img{
				width: 220px;
				height: 220px;
				margin: 2px;
			}
			td{
				padding: 20px;
			}
		}
	}

}

.slide_show{
	overflow: hidden;
	table{
		margin: 10px;
		width: 100%;

		img{
			width: 140px;
			height: 100px;
			margin-right: 4px;
			&:hover{
				opacity:0.4;
			}
		}
	}

	#slideshow{
 		width: 98%;
 		height: 400px;
 		margin: 10px;
 	}

}

.a{
	width: 970px;
	@include border(2px, gray, dotted, top);
	&:nth-child(n) {
		display:inline-block;
		margin: 0 auto;
				}
 		.event{
 			width: 649px;
 			   }
 		.sidebar{
			width: 300px;
			min-height: 20px;
			display: inline-block;
			float: left;
			margin-left: 36px;
			.content{
				@include border(2px, gray, dotted, left);
			}
 		}
 		.block{
 			width: 300px;
 			display: inline-block;
 			float: left;
 			margin-left: 12px;
 			margin-top: 12px;

 			a{
 				color: $time-color;
 			}

 			h2{
 				color: $time-color;
 				@include border(2px, $time-color, solid, bottom);
 			}
 		}		
 }

 .popular_links{
 	float: left;
 	margin-bottom: 16px;
 	width: 100%;
 	display: block;
 	@include border(2px, gray, dotted, top);
 	
 	h2{
 		display: none;
 	}
 	.content{
 		width: 100%;
 		margin-top: 16px;
 		float: left;
 		background: #f2f2f2;
 		ul{ 
 			float: left;
	 		li{
	 			display: inline-block;
	 			width: 18%;
	 			margin: 0;
	 			padding: 6px;
	 			@include border(2px, gray, dotted,left);

	 			a{
	 				display: block;
	 				text-decoration: none;
	 				font-weight: 700;
    				font-size: $time-font-size;
    				letter-spacing: .02em;
    				color: #636466;
	 			}

	 			ul{
	 				padding: 0;
	 				margin-top:20px;
		 			li {
		 				display: block;
		 				clear: both;
		 				margin:2px;
		 				border: none;
		 				width: 100%;
		 				a{
		 					text-decoration: none;
		 					font-size: $time-font-size;
		 					font-weight: 400;
		 					color: gray;
		 				}
		 			}
	 			}
	 		}

	 		li:first-child{
	 			border: none;
	 		}
	 	}
 		.block{
 			width: 100%;
 		}
 	}
 }		

.footer{
	clear: both;
 	width: 100%;
 	background: #2c3e50;
 	margin: 0 auto;
 	height: 40px;
 	}

 #search_bar{
 	display: inline-block;
    position: absolute;
    right: 30%;
    top: 75px;
 }	